html,
body {
  height: 100%;
  align-content: center;
  background-color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.container {
  background-color: #f6f2f1;
  max-width: 960px;
  display: table;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.nav {
  background-color: #f6f2f1;
  border: 0px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #e7a7a5;
}
.nav .navbar-header {
  width: 100%;
}
.nav .item {
  text-transform: uppercase;
}
.nav .item a {
  color: black;
  font-size: 12px;
}
.nav .item a:hover,
.nav .item a:focus {
  background-color: #e7a7a5;
}
.nav .item .dropdown-menu {
  background-color: #e7a7a5;
}
.nav .item .dropdown-menu .inside_item:hover {
  background-color: #cccccc;
}
.nav .item .dropdown-menu .active:hover,
.nav .item .dropdown-menu .inside_item {
  text-transform: none;
}
.sidebar {
  min-height: 100%;
  width: 30%;
  background: black;
  display: table-cell;
}
.sidebar form {
  position: relative;
  top: 40px;
}
.sidebar form #text,
.sidebar form #pwd {
  margin: auto;
  width: 75%;
}
.sidebar form label,
.sidebar form .submit,
.sidebar form .reset {
  color: white;
}
.sidebar form button {
  display: table-cell;
}
.sidebar form .submit {
  background-color: #e524ff;
}
.sidebar form .reset {
  background-color: #2435cb;
}
.main {
  align-content: center;
  min-height: 70%;
  display: table-cell;
}
.main .row > div {
  overflow: hidden;
  height: 210px;
}
.main .row > div .text_block {
  max-height: 210px;
  padding: 5%;
  background-color: #d3c57a;
}
.main .pagination {
  margin-left: 33%;
}
.main .pagination a {
  background-color: #f6f2f1;
  color: black;
  border: 0;
}
@media screen and (max-width: 960px) {
  .main {
    width: 96%;
  }
  .sidebar {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}
