html,
body {
  height: 100%;
  align-content: center;
  background-color: #f6f2f1;
}
.nav {
  background-color: #f6f2f1;
  border: 0px;
}
.nav .open > a {
  background-color: #e7a7a5;
}
.nav .navbar-header {
  width: 100%;
}
.nav .item {
  text-transform: uppercase;
}
.nav .item a {
  color: black;
}
.nav .item a:hover {
  background-color: #e7a7a5;
}
.nav .item .dropdown-menu {
  background-color: #e7a7a5;
}
.nav .item .dropdown-menu .inside_item:hover {
  background-color: #cccccc;
}
.nav .item .dropdown-menu .active:hover,
.nav .item .dropdown-menu .inside_item {
  text-transform: none;
}
.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
}
@media screen and (max-width: 960px) {
  .sidebar {
    display: none;
  }
}
.sidebar form {
  position: relative;
  top: 40px;
}
.sidebar form #text,
.sidebar form #pwd {
  margin: auto;
  width: 75%;
}
.sidebar form label,
.sidebar form .submit,
.sidebar form .reset {
  color: white;
}
.sidebar form button {
  display: inline;
}
.sidebar form .submit {
  background-color: #e524ff;
}
.sidebar form .reset {
  background-color: #2435cb;
}
.main {
  align-content: center;
}
@media screen and (max-width: 960px) {
  .main {
    width: 96%;
  }
}
.main .col-sm-3 {
  margin-left: 15px;
  height: 210px;
  min-height: 100%;
  align-content: center;
}
.main .col-sm-3 .text_block {
  float: left;
  padding: 5%;
  align-content: left;
  background-color: #d3c57a;
}
