//colors
@bodyColor: rgb(246, 242, 241);
@sideBarBgColor:black;
@subMenuColor:rgb(231, 167, 165);
@subMenuHoverColor:rgb(204, 204, 204);
@submitColor:rgb(229, 36, 255);
@resetColor:rgb(36, 53, 203);
@sideBarTextColor:white;
@colorOfTextBlocks:rgb(211,197,122);


html, body{
    height:100%;
    align-content: center;
    background-color: @bodyColor;
}
 .nav{
     background-color: @bodyColor;
     border:0px;
     .open > a {
        background-color: @subMenuColor;
      }
     .navbar-header {
         width: 100%;
     }
   .item {
       text-transform: uppercase;
       a{
         color:black; 
         &:hover{
               background-color: @subMenuColor;
           }
       }
       .dropdown-menu{
            background-color: @subMenuColor;
           .inside_item:hover {
                 background-color: @subMenuHoverColor;
            }
            .active:hover, .inside_item {
               text-transform: none;
           }
       }
    } 
} 
.sidebar {
    height:100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    background: @sideBarBgColor;
    @media screen and  (max-width: 960px) {
        display: none;
    }
    form {
       position: relative;
       top: 40px;
        #text, #pwd {
            margin: auto;
            width: 75%;
        }
        label, .submit, .reset {
            color:@sideBarTextColor;
        }
        button {
            display: inline;
        }
        .submit {
            background-color: @submitColor;            
        }
        .reset{
            background-color: @resetColor;
        }
    }
}
.main {
    align-content: center;
    @media screen and  (max-width: 960px) {
            width: 96%;
     }
    .col-sm-3 {
        margin-left:15px;
        height: 210px;
        min-height: 100%;
        align-content: center;
        .text_block {
            float:left;
            padding:5%;
            align-content:left;
            background-color: @colorOfTextBlocks;      
        }
    }
}

